.DS_Store
Thumbs.db
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.cache/
.parcel-cache/
coverage/
.env
.env.local
.env.*.local
.vscode/
.idea/
*.log
*.tmp
*.swp
.history/
/.sass-cache
/.cache-loader
/.nyc_output
/.pnp
/.pnp.js